<% layout('layouts/boilerplate')%>

    <% for(let i=0;i<198;i+=3){%>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://m.media-amazon.com/images/I/41gr3r3FSWL.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= books[i].name %>
                            </h5>
                            <small class="text-muted"><B>Author:-</B>  <%= books[i].author %> </small>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="/books/<%=books[i]._id %> " class="btn btn-dark">View</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://m.media-amazon.com/images/I/41gr3r3FSWL.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= books[i+1].name %>
                            </h5>
                            <small class="text-muted"><B>Author:-</B> <%= books[i+1].author %> </small>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="/books/<%=books[i+1]._id %>" class="btn btn-dark">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://m.media-amazon.com/images/I/41gr3r3FSWL.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= books[i+2].name %>
                            </h5>
                            <small class="text-muted"><B>Author:-</B> <%= books[i+2].author %> </small>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="/books/<%=books[i+2]._id %> " class="btn btn-dark">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% } %>